@model appmvclibrary.Models.PhieuMuonTra

@{
    ViewData["Title"] = "Thông tin chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSinhVien)
        </dd>
        <dt class = "col-sm-2">
            Sách mượn
        </dt>
        <dd class = "col-sm-10">
            @{
                var sachMuon = Model?.sach?.TenSach;
            }
            <span>@sachMuon</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @{
                var trangThai = Model.TrangThai == true ? "Đã xác thực" : "Chưa xác thực";
            }
            <span>@trangThai</span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Danh sách các phiếu</a>
</div>
